.body-skills {
    background-color: #2E2D2D;
    display: flex;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    gap: 3rem; /* Espace entre les éléments */
    padding-top: 3rem;
}

.Card-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permet de garder les catégories côte à côte */
    gap: 2rem;
}

.card-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Assure que chaque catégorie occupe moins de la moitié de la largeur */
}

.card-title {
    text-align: center;
    font-size: 0.9rem; /* Réduit la taille du titre */
    width: 100%; /* Fait en sorte que le titre prenne la même largeur que l'image */
    margin-top: 0.5rem;
    flex-direction: column;
}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; /* Pour espacer chaque carte */
  }
  
  .skills-image {
    width: 8rem; /* Ajuster la largeur de l'image */
    height: auto;
  }
  
  .card-title-container {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem; /* Ajuste la taille du titre si nécessaire */
  }


.skills-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skills-title::after {
    content: ""; 
    display: block;
    width: 20%; 
    height: 1px; 
    background-color: white; 
    margin: 1rem auto 0;
}

.skills-subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, #FF6B6B, #8B0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



@media (max-width: 768px) {
    .body-skills {
        flex-direction: column; /* Empile les éléments sur les petits écrans */
        gap: 3rem;
    }

    .card-category {
        width: 100%; /* Prend toute la largeur sur mobile */
    }
}
