.body-skills {
    background-color: #2E2D2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    
}

.cards-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    margin-bottom: 5vw;
    border-radius: 5px;
   
}

.Card-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #E0E0E0;
    border-radius: 0 0 25px 25px;

}

.card-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 5px;
    
}

.card-header {
    background: linear-gradient(90deg, #FF6B6B, #8B0000);
    border-radius: 25px 25px 0 0!important;
}

.card { 
    width: 25vw;
    border-radius: 25px !important;  
   
    
}

.skills-image {
    width: 4rem;
    height: auto;
    
}

.card-title-container {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.skills-title {
    text-align: center;
    color: white;
    font-size: 2rem;
}

.skills-title::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: white;
    margin: 1rem auto 0;
}

.skills-subtitle {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg, #FF6B6B, #8B0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 450;
    margin-top: 2vh;
    color: #E0E0E0 !important;
}

.vertical-line {
    width: 2px;
    height: 40vh;
    background: linear-gradient(90deg, #FF6B6B, #8B0000);
    margin-top: 5vh;
}

@media (max-width: 1200px) {
    .cards-container {
        gap: 5rem;
    }

    .skill-card {
        width: 40vw;
    }
}

@media (max-width: 992px) {
    .cards-container {
        flex-direction: column;
        gap: 3rem;
    }

    .skill-card {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .body-skills {
        padding-top: 2rem;
    }


    .cards-container {
        gap: 2rem;
    }

    .skill-card {
        width: 90vw;
    }

    .Card-icon {
        flex-direction: column;
        width: 50vw;
        
    }

    .card-header {
        width: 50vw;
    }

    .card-category {
        width: 100%;
    }

    .vertical-line {
        width: 80%;
        height: 2px;
        margin: 2vh auto;
    }

    .skills-title {
        font-size: 1.5rem;
    }

    .skills-subtitle {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .card-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .skill-card {
        width: 95vw;
    }

    .skills-image {
        width: 3rem;
    }

    .card-title-container {
        font-size: 0.9rem;
    }
}